.box {
    background-color: #1C62A4;
    width: 100%;
    height: 121px;
    margin-top: 122px;
    text-align: center;
    z-index: 301;
    margin-top: 30px;
}
.t{
    display: flex;
    padding-top: 39px;
    justify-content:center;
    width: 28rem;
    margin-left: 390px;
    position: relative;
}
.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding:5% 20%;
    margin: 1px 1px ;
  }

  .myButton {
	background-color:#1c62a4;
	border-radius:6px;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
    align-items: center;
    padding: 10px
}
.myButton:hover {
	background-color:#16499c;
}
.myButton:active {
	position:relative;
	top:1px;
}  
  



.whatsapp {
    width: 56px;
    height: 58px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 582px;
    top: -4360px;
   
    background-image: url('../../pictures/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.67);
}

.content h1 {
    font-family: PT Sans;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: center;
}

.content p {
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.content button {
    width: 180px;
    height: 41px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    display: flex;
}

.content .inside {
    width: 754px;
    height: 380px;
    top: -4268px;
    left: -20417px;
}

/* Apply margin-right: 0; to the last button to remove the space after the last button */
.content button:last-child {
    margin-right: 0;
}

.content img {
    align-self: flex-start;
    margin-left: 342px;
}

.hat{
    width: 56px;
    height: 53px;
    top: -4268px;
    left: -20414px;
    
}
